@charset "UTF-8";
.__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

i {
  font-family: LineAwesome;
  font-size: 1.13rem;
  line-height: 21px;
  color: #A9AEB8;
}

h1 {
  font-family: 'Merriweather', sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  margin: 0;
  color: #FFFFFF;
  z-index: 2;
  line-height: 85px;
}

h2 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 52px;
  color: #2B2D33;
  margin: 0;
}

p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 0.94rem;
  line-height: 26px;
  color: #2B2D33;
}

main {
  height: 100vh;
  background: url("../img/main/Group 1.png") no-repeat center bottom;
  background-size: cover;
}

.main__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.main__header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.main__header ul li {
  list-style: none;
}

.main__header ul li a {
  text-decoration: none;
  color: #EDF0F4;
}

.main__title {
  max-width: 810px;
  position: relative;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.main__quad {
  top: 0;
  left: 0;
  position: absolute;
  width: 330px;
  height: 100%;
  border: 7px solid #6C525B;
  z-index: 1;
}

.main__contanct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #C8CDD8;
  max-width: 670px;
  border-top: 1px solid #4D515E;
  padding-top: 25px;
  padding-bottom: 80px;
}

.main__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main__phone i {
  margin-right: 8px;
}

.main__phone-number {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: #C8CDD8;
}

.main__days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__days i {
  margin-right: 8px;
}

.main__days-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.main__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main__location i {
  margin-right: 8px;
}

.menu-head-btn {
  padding-bottom: 64px;
}

.header__logo {
  margin-right: 80px;
}

.header__social {
  padding-bottom: 19px;
  margin-right: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__social ul li {
  margin-right: 30px;
}

.header__social ul li:last-child {
  margin-right: 0;
}

.header__nav .menu-btn {
  padding-bottom: 24px;
}

.header__nav-ul {
  padding-bottom: 22px;
}

.header__nav ul li {
  margin-right: 30px;
}

.header__nav ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}

.header__nav ul li:last-child {
  margin-right: 0;
}

.header .menu-icon__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-head {
  display: none;
}

.menu-head-btn {
  display: none;
}

.traditions {
  padding-top: 70px;
  padding-bottom: 70px;
}

.traditions__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.traditions__header {
  margin-bottom: 40px;
}

.traditions__descr {
  max-width: 620px;
}

.traditions__block {
  border-top: 1px solid #BDC4CF;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 370px;
          flex: 0 1 370px;
  padding-top: 30px;
}

.traditions__block-one {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 630px;
          flex: 0 1 630px;
  border: none;
  padding-top: 60px;
  margin-bottom: 25px;
}

.traditions__block-two {
  border: none;
  margin-bottom: 25px;
}

.traditions__block-header {
  margin-bottom: 26px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 25px;
  color: #2B2D33;
}

.interior {
  background: url("../img/interior/bg.png");
  padding-top: 60px;
  padding-bottom: 70px;
  overflow: hidden;
  /* Слайдер */
  /* Лента слайдов */
  /* Слайд */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
}

.interior__header h2 {
  color: #FFFFFF;
}

.interior__slider-item img {
  width: 100%;
}

.interior .slick-slider {
  position: relative;
  padding-left: calc((100vw - 1200px + 3px)/2);
}

.interior .slick-slide {
  margin: 0 10px;
}

.interior .slick-list {
  padding-top: 45px;
  overflow: hidden;
  margin-left: -10px;
  margin-right: -10px;
}

.interior .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.interior .slick-arrow {
  background-color: Transparent;
  border: 1px solid #777B8A;
  overflow: hidden;
  width: 34px;
  height: 43px;
  margin-right: calc((100vw - 1200px)/2);
}

.interior .slick-arrow.slick-prev {
  background: url("../img/interior/next.png") no-repeat center center;
  cursor: pointer;
  position: absolute;
  top: -45px;
  right: 60px;
  font-size: 0;
}

.interior .slick-arrow.slick-next {
  font-size: 0;
  background: url("../img/interior/prev.png") no-repeat center center;
  cursor: pointer;
  position: absolute;
  top: -45px;
  right: 0;
}

.menu {
  padding-top: 100px;
  padding-bottom: 200px;
}

.menu__header {
  margin-bottom: 45px;
}

.menu__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__info-names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  border-bottom: 1px solid #BDC4CF;
  position: relative;
  margin-bottom: 50px;
}

.menu__info-name {
  padding: 19px 20px 18px 19px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1.12rem;
  line-height: 25px;
  color: #2B2D33;
  cursor: pointer;
}

.menu__info-name_active {
  background: #6C525B;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1.12rem;
  line-height: 25px;
  color: #E3E5EA;
}

.menu__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 0;
}

.menu__blocks .slick-arrow {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.menu__blocks_active {
  height: 100%;
}

.menu__blocks_active .slick-arrow {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.menu__picture {
  position: absolute;
  top: -155px;
  right: 0;
}

.block-menu {
  border: 4px solid #CFD2D9;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
  margin-bottom: 30px;
}

.block-menu__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 45px 35px 42px 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-menu__name {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 21px;
}

.block-menu__price {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 21px;
  color: #6C525B;
}

.block-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 0.94rem;
  line-height: 18px;
  padding: 0 35px 42px 35px;
  color: #2B2D33;
}

.block-menu__item {
  margin-bottom: 15px;
}

.block-menu__item span {
  font-weight: 500;
}

.about {
  background: url("../img/about/about.png") no-repeat;
  padding: 100px 0;
  background-position-x: calc((100vw - 1200px)/2);
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.about__info {
  background: #30333B;
  padding: 65px 62px;
  max-width: 500px;
  position: relative;
}

.about__info-img {
  position: absolute;
  top: 50px;
  right: 55px;
}

.about__header h2 {
  color: #FFFFFF;
  margin-bottom: 50px;
}

.about__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 38px;
  font-family: Montserrat;
  font-size: 0.94rem;
  line-height: 23px;
  color: #FFFFFF;
}

.about__info-item img {
  margin-right: 23px;
}

.about__image {
  display: none;
}

.news {
  padding-top: 80px;
  padding-bottom: 100px;
  overflow: hidden;
  /* Лента слайдов */
  /* Стрелка влево */
  /* Стрелка вправо */
}

.news__header {
  margin-bottom: 42px;
}

.news__slider {
  margin: 0 auto;
}

.news__slider-item img {
  width: 100%;
}

.news .slick-slider {
  position: relative;
}

.news .slick-slide {
  margin: 0 30px;
}

.news .slick-list {
  overflow: hidden;
  margin-left: -30px;
  margin-right: -30px;
}

.news .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.news .slick-arrow {
  background-color: Transparent;
  border: 1px solid #8E9199;
  overflow: hidden;
  width: 34px;
  height: 43px;
}

.news .slick-arrow.slick-prev {
  background: url("../img/news/prev.png") no-repeat center center;
  cursor: pointer;
  position: absolute;
  top: -87px;
  right: 60px;
  font-size: 0;
}

.news .slick-arrow.slick-next {
  font-size: 0;
  background: url("../img/news/next.png") no-repeat center center;
  cursor: pointer;
  position: absolute;
  top: -87px;
  right: 0;
}

.slider-item__photo {
  margin-bottom: 23px;
}

.slider-item__date {
  font-family: Montserrat;
  font-size: 0.9rem;
  line-height: 19px;
  color: #6C525B;
  margin-bottom: 15px;
}

.slider-item__desr {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1.05rem;
  line-height: 25px;
  color: #2B2D33;
}

.club {
  padding-top: 65px;
  padding-bottom: 65px;
  background: url("../img/club/bg.png") no-repeat center;
  background-size: cover;
}

.club__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.club__descr-title {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.club__descr-info {
  font-family: Montserrat;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  color: #C8CDD8;
  max-width: 690px;
}

.club__btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 21px 30px 19px 29px;
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #FFFFFF;
  background: #6C525B;
  cursor: pointer;
}

.club__btn a i {
  color: #FFFFFF;
  margin-left: 5px;
}

.footer h2 {
  margin-bottom: 35px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-right: calc((100vw - 1200px)/2);
}

.footer__map {
  margin-right: 70px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer__contact-block {
  max-width: 500px;
  position: relative;
}

.footer__list {
  max-width: 500px;
}

.footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 0.83rem;
  line-height: 21px;
  color: #2B2D33;
  margin-bottom: 15px;
}

.footer__phone i {
  margin-right: 8px;
}

.footer__days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 45px;
}

.footer__days i {
  margin-right: 8px;
}

.footer__days-item {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 0.83rem;
  line-height: 23px;
  color: #2B2D33;
  text-align: right;
}

.footer__days-item i {
  margin-right: 8px;
}

.footer__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 0.83rem;
  line-height: 23px;
  color: #2B2D33;
  margin-bottom: 15px;
}

.footer__location i {
  margin-right: 8px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer__social {
  width: 180px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #30333B;
  margin-right: 15px;
}

.footer__social:last-child {
  margin-right: 0;
}

.footer__social i {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.footer__social a {
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 0.94rem;
  line-height: 26px;
  color: #FFFFFF;
  cursor: pointer;
}

.footer__img {
  position: absolute;
  top: -20px;
  right: 0;
}

.footer__head {
  display: none;
}
/*# sourceMappingURL=style.css.map */